@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--color-red: hsl(0, 100%, 74%);
	--color-green: hsl(154, 59%, 51%);
	--color-blue: hsl(248, 32%, 49%);
	--color-dark-blue: hsl(249, 10%, 26%);
	--color-grayish-blue: hsl(246, 25%, 77%);
	--color-white: hsl(255, 100%, 100%);
	--color-shadow: rgba(0, 0, 0, 0.2);
	--color-border-input: #ccc;

	--values-min-width: 90%;
	--values-min-width-responsive: 495.89px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

/* container info */

.container {
	min-width: 375px;
	min-height: 100vh;
	margin: 0 auto;
	background-image: url(../public/images/bg-intro-mobile.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: var(--color-red);
	padding-bottom: 36px;
}

.container__info > * {
	width: var(--values-min-width);
	margin: 0 auto 28px auto;
	color: var(--color-white);
	height: fit-content;
}

.container__info-title {
	width: 280px;
	padding: 66px 0 24px 0;
	margin: 0 auto;
	line-height: 1.2;
}

.container__info-text {
	text-align: center;
	font-size: 17px;
	margin: 0 auto;
	padding-bottom: 30px;
}

/* container try */

.container__try {
	display: flex;
	align-items: center;
	width: var(--values-min-width);
	margin: 0 auto 20px auto;
	background-color: var(--color-blue);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	height: 88px;
	padding: 0 80px;
	text-align: center;
	color: var(--color-white);
	box-shadow: 0 6px var(--color-shadow);
}

.try-text-strong {
	font-weight: 700;
}

/* contaienr form */

.container__form {
	width: var(--values-min-width);
	height: min-content;
	margin: 0 auto;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border: 0;
	padding: 14px;
	box-shadow: 0 7px var(--color-shadow);
}

.container__form .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
}

.container__form .btn-form {
	padding: 14px;
	background-color: var(--color-green);
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	box-shadow: 0 2px var(--color-shadow);
	font-weight: 600;
	color: var(--color-white);
	font-size: large;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 6px 0;
}

.container__form .footer-text {
	text-align: center;
	font-size: small;
	width: 90%;
	margin: 0 auto 6px auto;
}

.form-text-strong {
	font-weight: bold;
	color: var(--color-red);
}

.form__input-text {
	padding: 10px;
	margin: 6px 0;
	border: 1px solid var(--color-border-input);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	font-weight: 700;
}

@media (min-width: 546px) {
	.container {
		background-image: url(../public/images/bg-intro-desktop.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container__info-text {
		width: var(--values-min-width-responsive);
	}

	.container__middle {
		margin: 0 auto;
	}

	.container__try {
		width: var(--values-min-width-responsive);
	}

	.container__form {
		width: var(--values-min-width-responsive);
	}
}

@media (min-width: 1010px) {
	.container {
		max-width: 1440px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0 60px;
	}

	.container__info {
		width: var(--values-min-width-responsive);
		margin: 0 auto;
		width: auto;
	}

	.container__info-title {
		margin: 0;
		min-width: 480px;
		font-size: 3.3rem;
	}

	.container__info-text {
		text-align: start;
		padding: 0;
	}

	.container__middle {
		margin: 0 auto;
		width: var(--values-min-width-responsive);
	}
}

/* .attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
} */
