@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--color-red: hsl(0, 100%, 74%);
	--color-green: hsl(154, 59%, 51%);
	--color-blue: hsl(248, 32%, 49%);
	--color-dark-blue: hsl(249, 10%, 26%);
	--color-grayish-blue: hsl(246, 25%, 77%);
	--color-white: hsl(255, 100%, 100%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 375px;
	height: 100vh;
	margin: 30px auto;
	background: url(../public/images/bg-intro-mobile.png) no-repeat var(--color-red);
}

.container__info {
	width: 90%;
	margin: 0 auto 36px auto;
	color: var(--color-white);
}

.container__info-title {
	width: 280px;
	padding: 90px 0 24px 0;
	margin: 0 auto;
	line-height: 1.2;
}

.container__info-text {
	text-align: center;
	font-size: 17px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.container__try {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto 40px auto;
	background-color: var(--color-blue);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	height: 88px;
	padding: 0 80px;
	text-align: center;
	color: var(--color-white);
	box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

.container_try-text {
	font-weight: 0;
}

.try-text-strong {
	font-weight: 700;
}

/* 
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*/
